.container {
    width:100%;
    text-align:center;
    
    height:20%;
}

.left {
    float:left;
    width:20%;
    height: 60%;
    border: 2px dashed red;
}

.center {
    display: inline-block;
    margin:0 auto;
    width:20%;
    height: 60%;
    border: 2px dashed red;
}

.right {
    float:right;
    width:20%;
    height: 60%;
    border: 2px dashed red;
}

@media screen and (max-width: 768px){
   
    .right {
        width: 100%;
    }
    .left {
        width: 100%;
    }
    .center {
        width: 100%;
    }
}
}